.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.text {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.link {
  font-size: 1.2rem;

  &:hover {
    color: red;
  }
}
